{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="main-wrap">
  {{!-- Special header.hbs partial to generate the <header> tag --}}
  {{> header background=@site.cover_image}}
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{> hero background=@site.cover_image}}
  <div class="m-hero__content" data-aos="fade-down">
    <h1 class="m-hero-title bigger">{{@site.title}}</h1>
    {{#if @site.description}}
    <p class="m-hero-description bigger">{{@site.description}}</p>
    {{/if}}
    {{#if @labs.subscribers}}
    <a href="{{@site.url}}/subscribe" class="m-button filled">{{t "Subscribe"}}</a>
    {{/if}}
  </div>
  </section>

  <style>
    .cw-center {
      text-align: center;
    }
  </style>
  
  <main>
    <!-- part 1 mini blurb -->
    <div class="l-content" data-aos="fade-down" data-aos-delay="1000">
      <div class="pure-g l-wrapper">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5 cw-center">
          <h1>No nonsense UX Designer & Innovator with over <span id="years-exp">200</span> years in the tech industry, from startups to enterprise.</h1>
          <h2 class="cw-download"><a href="https://drive.google.com/file/d/1RqqmxoxBucL_ENC1VvZirjl5LxsQgv83/view?usp=sharing" target="_blank">Download CV</a></h2>
        </div>
        <div class="pure-u-1-5"></div>
      </div>
    </div>
    <!-- part 2 work -->
    <style>
      .cw-work-cover {
        background: url("/assets/images/work-dp.png");
        background-position: right;
        background-size: cover;
        height: 20em;
      }
      .cw-talk-cover {
        background: url("/assets/images/talks-dp.jpg");
        background-position: center;
        background-size: cover;
        height: 20em;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      .debug {
        background-color: rgba(30,150,10,0.5)
      }
      .icon-chevron-right{
        font-size: 1.4em;
      }
    </style>
    <div class="l-content" data-aos="fade-right" data-aos-delay="300">
      <div class="l-wrapper">
        <h1>Approach</h1>
      </div>
      <div class="pure-g l-wrapper">
        <div class="pure-u-2-5 cw-work-cover"></div>
        <div class="pure-u-3-5 m-article-card__info-link">
          <h2>A true full-stack maverick—discover, design and validate our thinking to enable real change.</h2>
        </div>
      </div>
    </div>
    <!-- part 3 talks -->
    <div class="l-content" data-aos="fade-left" data-aos-delay="300">
      <div class="l-wrapper">
        <h1>Community</h1>
      </div>
      <div class="pure-g l-wrapper">
        <div class="pure-u-3-5 m-article-card__info-link">
          <h2>I believe in sharing real, raw results to challenge our work and inspire others to do better.</h2>
          <a href="/tag/community">Read more <i class="icon-chevron-right">›</i></a>
        </div>
        <div class="pure-u-2-5 cw-talk-cover"></div>
      </div>
    </div>

    <!-- part 4 thoughts (resume default posts) -->
    <div class="l-content">
      <div class="l-wrapper" data-aos="fade-up" data-aos-delay="300">
        <style>
          {{!-- fix title overlap when featured post exists on smaller screens --}}
          @media (max-width: 992px){
            .thoughts-title {
              padding-bottom: 45px;
            }
          }
        </style>
        <h1 class="thoughts-title">Portfolio</h1>
        <div class="l-grid centered">
          {{#get "posts" filter="featured:true" include="authors,tags" limit="5" as |featured|}}
          {{#if featured}}
          <div class="m-featured-slider">
            <div class="m-featured-slider__list js-featured-articles">
              {{#foreach featured}}
              <div class="m-featured-slider__list__item">
                {{#if feature_image}}
                <article class="m-featured-article">
                  {{else}}
                  <article class="m-featured-article no-picture">
                    {{/if}}
                    <div class="m-featured-article__picture">
                      {{#if feature_image}}
                      <div class="lozad" data-background-image="{{img_url feature_image size="l"}}"></div>
                      {{/if}}
                    </div>
                    <div class="m-featured-article__meta">
                      <a href="{{primary_author.url}}" class="m-featured-article__author js-tooltip" aria-label="Authors" data-tippy-content="{{t "Posted by"}} {{primary_author.name}} {{authors autolink="false" from="2" prefix=(t "Among with") separator=" , "}}">
                        {{#if primary_author.profile_image}}
                        <div style="background-image: url({{img_url primary_author.profile_image size="xs"}});"></div>
                        {{else}}
                        <div style="background-image: url({{asset "images/default-avatar-square-small.jpg"}});"></div>
                        {{/if}}
                      </a>
                      {{#if primary_tag}}
                      <a href="{{primary_tag.url}}" class="m-featured-article__tag">{{primary_tag.name}}</a>
                      {{/if}}
                    </div>
                    <div class="m-featured-article__ribbon">
                      <span class="icon-star"></span>
                      <span>{{t "Featured"}}</span>
                    </div>
                    <a href="{{url}}" class="m-featured-article__content">
                      <h1 class="m-featured-article__title">{{title}}</h1>
                      <div class="m-featured-article__timestamp">
                        <span>{{date published_at timeago="true"}}</span>
                        <span>&bull;</span>
                        <span>{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                      </div>
                    </a>
                  </article>
              </div>
              {{/foreach}}
            </div>
          </div>
          {{/if}}
          {{/get}}
          {{!-- The tag below iterates over all the posts --}}
          {{> "loop"}}
        </div>
      </div>
      {{!-- Links to Previous/Next posts --}}
      {{pagination}}
    </div>
  </main>
</div>

{{!-- Years of experience updater, run after rendering the HTML --}}
<script>
  let yearsOfExperience = (startDate) => {
    let today = new Date();
    let years = today.getFullYear() - startDate.getFullYear();
    let isMonthOrLater = today.getMonth() >= startDate.getMonth();
    return (isMonthOrLater ? years : years - 1);
  }
  let start = new Date('2014-09-01')
  document.getElementById("years-exp").innerText = yearsOfExperience(start); //experience;
</script>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/home.js"}}"></script>
{{/contentFor}}
